
.day{
  padding: 0;
  text-align: center;
}
p{
  font-size:3rem;
}
#hour{
padding: 3rem 0 3rem 0;
  text-align: center;
}
.currentDay{
  font-size:2.6rem;
  text-align: center;
  letter-spacing:.5rem;
}
